<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User create</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for = "name">User name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </br>
    <label for = "name">User Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="SurName">
    </br>
    <label for = "name">User email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    </br>
    <label for = "name">User Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    </br>
    <input type="submit" value="Create User">


</form>
</body>
</html>